<%- include('header') %>
<body class="d-flex flex-column h-100">
<%
function generateRandomBigInt(lowBigInt, highBigInt) {
  if (lowBigInt >= highBigInt) {
    throw new Error('lowBigInt must be smaller than highBigInt');
  }

  const difference = highBigInt - lowBigInt;
  const differenceLength = difference.toString().length;
  let multiplier = '';
  while (multiplier.length < differenceLength) {
    multiplier += Math.random()
      .toString()
      .split('.')[1];
  }
  multiplier = multiplier.slice(0, differenceLength);
  const divisor = '1' + '0'.repeat(differenceLength);

  const randomDifference = (difference * BigInt(multiplier)) / BigInt(divisor);

  return lowBigInt + randomDifference;
}

const min = BigInt("1");
const max = BigInt("904625697166532776746648320380374280100293470930272690489102837043110636675");
const pageResult = generateRandomBigInt(min,max);
%>
<section class="py-5 text-center container">
<h2>All Bitcoin private keys are listed on this webpage</h2>
<p>That's right, every single Bitcoin private key. Even yours. Should you worry? Probably not.</p>
<p>There are approximately 2<sup>256</sup> private keys. To put it into perspective, that number is over 70 characters long.</p> 
<a href="/btc/<%- pageResult %>" class="btn btn-primary" tabindex="-1" role="button">Random 
Bitcoin Page</a>
</section>
<%- include('footer') %>
